.az-body,
.az-dashboard {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.az-body::before {
  content: "az";
  position: fixed;
  top: 45%;
  left: 70%;
  transform: translate3d(-50%, -58%, 0);
  font-size: 1300px;
  font-weight: 600;
  letter-spacing: -10px;
  line-height: 0.5;
  opacity: 0.02;
  z-index: -1;
  display: none;
}

.az-body-sidebar {
  display: block;
}
@media (min-width: 992px) {
  .az-body-sidebar {
    display: flex;
    flex-direction: row;
  }
}
.az-body-sidebar .az-content {
  flex: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .az-body-sidebar .az-header .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.az-body-sidebar .az-content-header {
  height: auto;
  padding: 5px 20px 20px;
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .az-body-sidebar .az-content-header {
    padding: 10px 20px 20px;
  }
}
.az-body-sidebar .az-content-body {
  padding: 0 20px 20px;
}
.az-body-sidebar .az-footer {
  margin-top: auto;
}

.az-body-sidebar.az-light .az-sidebar {
  background-color: #f8f9fa;
  border-right-color: #dee2e6;
  box-shadow: 2px 0 3px rgba(33, 34, 41, 0.04);
  z-index: 5;
}

.az-body-dashboard-nine {
  background-color: #dee2e6;
}
@media (min-width: 992px) {
  .az-body-dashboard-nine .az-header .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 992px) {
  .az-body-dashboard-nine.az-sidebar-hide .az-header-dashboard-nine {
    left: 0;
  }
}

.az-signup-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: rgba(248, 249, 250, 0.2);
}
@media (min-width: 992px) {
  .az-signup-wrapper {
    justify-content: flex-end;
  }
}
